*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.navbar {
  background-color: #ffffff;
  overflow: hidden;
}

.navbar-logo {
  display: inline-block;
  color: white;
  padding: 150px 45px;
  text-decoration: none;
  font-size: 20px;

}

.navbar-logo img {
  width: 150px;
  height: 45px;
  vertical-align: middle;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
